<%= link_to('New Ingredient', new_ingredient_path) %>
<div class='spacer'></div>

<ol>
<% @ingredients.each do |ingredient| %>
  <li>
    <ul>
      <li><%= link_to(ingredient.name, ingredient) %></li>
      <li><%= ingredient.measurement %></li>
      <li><%= number_to_currency ingredient.cost %></li>
      <li><%= image_tag(ingredient.image) %></li>
    </ul>
  </li>
<% end %>
</ol>
