.row
  .large-3.columns
    = form_for @stock, :remote => true do |f|
      = f.label :symbol
      = f.text_field :symbol, :autofocus => true
      = f.label :shares
      = f.number_field :shares
      = link_to('Cancel', '#', :id => 'cancel_stock_form', :class => 'button radius tiny alert')
      = f.submit nil, :class => 'button radius tiny'
  .large-9.columns
