%h1 flickr
%div
  = text_field_tag 'search', nil, :autofocus => true
  = button_tag 'Search Flickr', :id => 'flickr'
  = button_tag 'Clear Photos', :id => 'clear'
  %span W
  = text_field_tag 'width'
  %span H
  = text_field_tag 'height'
  %span D
  = text_field_tag 'duration'
#images
