<ul>
  <li><%= link_to @artist.name, @artist %></li>
  <li><%= @artist.nationality %></li>
  <li><%= @artist.dob.strftime('%B %d, %Y') %></li>
  <li><%= @artist.period %></li>
  <li><%= image_tag(@artist.image) %></li>
</ul>

<% @artist.paintings.each do |painting| %>
  <ul>
    <li><%= link_to painting.title, painting %></li>
    <li><%= painting.year %></li>
    <li><%= painting.medium %></li>
    <li><%= painting.style %></li>
    <li><%= image_tag(painting.image) %></li>
  </ul>
<% end %>

<%= link_to 'Delete', @artist, :method => :delete %>
<%= link_to 'Edit', edit_artist_path(@artist) %>
