.row
  .large-3.columns
    = form_tag '/login', :remote => true do
      = label_tag :email
      = text_field_tag :email, nil, :autofocus => true
      = label_tag :password
      = password_field_tag :password
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert')
      = submit_tag 'Start Flirting', :class => 'button tiny radius success'
  .large-9.columns
