#map_canvas
%script
  display_map(40.7316, -73.9901, 12);

.row
  .three.columns
    .controls
      .new
        = button_tag 'New Task', :id => 'new_task', :class => 'button radius success tiny'
      .taskform.hide
        = form_tag do
          = label_tag 'priority_id'
          = select_tag 'priority_id', options_from_collection_for_select(@auth.priorities.order(:value).reverse, "id", "name")
          = label_tag 'title'
          = text_field_tag 'title'
          = label_tag 'description'
          = text_area_tag 'description'
          = label_tag 'duedate', 'Due'
          = text_field_tag 'duedate'
          = label_tag 'is_complete', 'Complete?'
          = check_box_tag 'is_complete'
          = label_tag 'address'
          = text_area_tag 'address'
          = hidden_field_tag 'task_id'
          = link_to('Cancel', '#', :id=>'cancel_task', :class => 'button radius tiny alert')
          = submit_tag 'New Task', :id => 'create_task', :class => 'button radius tiny'
          = submit_tag 'Edit Task', :id => 'update_task', :class => 'button radius tiny success'
  .nine.columns

%script
  var tasks = [];
%ul#tasks
  - @tasks.each do |task|
    %li
      %script
        = "add_marker(#{task.latitude}, #{task.longitude}, '#{task.title}');"
        = "tasks.push({priority:{color:'#{task.priority.color}', value:#{task.priority.value}}, id:#{task.id}, title:'#{task.title}', is_complete:#{task.is_complete}, latitude:#{task.latitude}, longitude:#{task.longitude}});"
      .task= check_box_tag nil, nil, task.is_complete
      .task.color.hide= task.priority.color
      .task= link_to('Delete', '#', :class => 'delete_task button radius alert tiny')
      .task= link_to('Edit', '#', :class => 'edit_task button radius tiny')
      .task= task.title
      .task.hide= task.id
      .clear
