<div class='row'>
  <div class='tweleve columns'>
    <ul class="nav-bar">
      <li class="active"><%= link_to('Home', root_path) %></li>
      <li><%= intellinav %></li>
      <li><%= link_to('New User', new_user_path) %></li>
      <li><%= link_to('All Users', users_path) %></li>
      <li><%= link_to('Priorities', priorities_path) %></li>
      <li><%= link_to('Tasks', tasks_path) %></li>
    </ul>
  </div>
</div>
